@font-face {
  font-family: 'Inter-400';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./assets/fonts/Inter-400.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Inter-600';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(./assets/fonts/Inter-600.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Inter-700';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./assets/fonts/Inter-700.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --color-white: #e8e8e8;
  --color-slider-dark: #183153;
  --color-light-theme-background: rgba(234, 234, 234, 0.95);
  --color-lightgray: #626262;
  --color-lightblue: #73C0FC;
  font-size: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter-400';
}

#container {
  display: flex;
  background-image: url(./assets/images/Background-desktop-light-mode.webp);
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  width: 100%;
}

h1 {
  display: inline-block;
  font-family: 'Inter-700';
  font-size: 4rem;
  letter-spacing: .8rem;
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

h2 {
  font-family: 'Inter-700';
  font-size: 1.5rem;
  margin-bottom: 1.0625rem;
}

#ligne-haute {
  display: flex;
  width: 100%;
  max-height: 3.375rem;
  padding-left: 6.5rem;
  padding-right: 3.5625rem;
  margin-top: 4%;
  align-items: center;
  justify-content: space-between;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: 'Inter-400';
}

button:hover {
  color: var(--color-lightblue);
}

#options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 630px;
  font-size: 2rem;
  border-radius: 2.8125rem;
  background: var(--color-light-theme-background);
  padding: .3125rem .75rem .3125rem 1.875rem;
  box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25);
}

.switch {
  font-size: 1.0625rem;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-lightblue);
  transition: .4s;
  border-radius: 1.875rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 1.25rem;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: var(--color-white);
  transition: .4s;
}

.sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.moon svg {
  fill: var(--color-lightblue);
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

/* .switch:hover */
.sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {

  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* .switch:hover */
.moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {

  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.input:checked+.slider {
  background-color: var(--color-slider-dark);
}

.input:focus+.slider {
  box-shadow: 0 0 1px var(--color-slider-dark);
}

.input:checked+.slider:before {
  transform: translateX(30px);
}

input {
  width: 100%;
  padding: 1.2188rem 2.9375rem;
  border-radius: 45px;
  border: none;
  font-size: 1.5rem;
  outline-color: var(--color-lightblue);
}

#component {
  max-width: 1240px;
  margin: auto;
  margin-top: 8%;
  border-radius: 45px;
  background: var(--color-light-theme-background);
  box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 2.5625rem 3.875rem 3.4375rem 3.25rem;
}

#suggestion,
input {
  font-size: 1.5rem;
  color: var(--color-lightgray);
}

#suggestion {
  margin-top: .875rem;
  margin-bottom: 4.4375rem;
  padding-left: 2.9375rem;
}

li{
  list-style: none;
}

.texte {
  font-size: 1rem;
  line-height: 4.375rem;

}

#alignementdescriptionimage {
  display: flex;
  justify-content: space-between;
  gap: 10%;
}

#imageguguss {
  display: flex;
  justify-content: center;
}

#serif,
#sans-serif,
#inter {
  font-size: 2rem;
}

@media screen and (max-width: 375px) {}