@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./assets/fonts/Inter-400.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(./assets/fonts/Inter-600.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./assets/fonts/Inter-700.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --color-white: #e8e8e8;
  --color-slider-dark: #183153;
  --color-light-theme-background: rgba(234, 234, 234, 0.95);
  --color-lightgray: #626262;
  --color-lightblue: #73C0FC;
  --color-prononciation: #00248b;
  --background-color-dark-theme: rgba(100, 100, 100, 0.90);
  font-size: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter';
  font-weight: 400;
  background-image: url(./assets/images/Background-desktop-light-mode.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

#container {
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 4rem;
  letter-spacing: .8rem;
  padding-left: 6.8125rem;
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

h2 {
  font-family: 'Inter';
  font-weight: 700;
  padding-bottom: 1.0625rem;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: 'Inter-400';
  font-weight: 400;
}

button:hover {
  color: var(--color-lightblue);
}

#options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 57px;
  max-height: 54px;
  gap: 70px;
  font-size: 2rem;
  border-radius: 2.8125rem;
  background: var(--color-light-theme-background);
  padding: .3125rem .75rem .3125rem 1.875rem;
  box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25);
}

.switch {
  font-size: 1.0625rem;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-lightblue);
  transition: .4s;
  border-radius: 1.875rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 1.25rem;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: var(--color-white);
  transition: .4s;
}

.sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.moon svg {
  fill: var(--color-lightblue);
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

/* .switch:hover */
.sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {

  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* .switch:hover */
.moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {

  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.input:checked+.slider {
  background-color: var(--color-slider-dark);
}

.input:focus+.slider {
  box-shadow: 0 0 1px var(--color-slider-dark);
}

.input:checked+.slider:before {
  transform: translateX(30px);
}

input {
  width: 100%;
  color: black;
  padding: 1.2188rem 2.9375rem;
  border-radius: 45px;
  border: transparent;
  font-size: 1.5rem;
}

input:focus{
  outline: 3px solid var(--color-lightblue)
}

#component {
  position: relative;
  width: 1240px;
  margin: auto;
  margin-top: 7.0625rem;
  margin-bottom: 8.1875rem;
  border-radius: 45px;
  background: var(--color-light-theme-background);
  box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 2.5625rem 3.875rem 3.4375rem 3.25rem;
}

#suggestion {
  font-size: 1.5rem;
  color: var(--color-lightgray);
}

#suggestion {
  padding-top: .875rem;
  padding-bottom: 4.4375rem;
  padding-left: 2.9375rem;
}

li {
  list-style-type: none;
  text-align: justify;
  line-height: 30px;
  padding: 10px 0;
}

.texte {
  font-size: 1rem;
}

#alignementdescriptionimage {
  display: flex;
  justify-content: space-between;
  gap: 10%;
}

audio {
  width: 600px;
  height: 40px;
}

#compglobale {
  display: flex;
}

#compgauche {
  display: flex;
  flex-direction: column;
}

#imageguguss {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

#zone,
#synonymous,
#synonymous-title {
  max-width: 600px;
}

#ligne-haute {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-top: 4.4375rem;
}

#prononciation {
  color: var(--color-prononciation);
  font-family: 'Inter';
  font-weight: 400;
  font-size: 1.125rem;
  font-style: italic;
}

#synonymous-title {
  padding-top: 5px;
}

#serif,
#sans-serif,
#inter {
  font-size: 2rem;
}

#searchbar{
  position: relative;
}

#loupe-recherche {
  position: absolute;
  background-image: url(./assets/images/loupe.webp);
  background-repeat: no-repeat;
  background-size: cover;
  width: 25px;
  height: 25px;
  bottom: 30%;
  right: 4%;
}

#resultat.texte{
  padding-top: .875rem;
  padding-left: 2.9375rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: red;
}


@media screen and (max-width: 1426px) {
  #loupe-recherche {
    background-image: url(./assets/images/loupe-mobile.webp);
    width: 16px;
    height: 16px;
    bottom: 25%;
    right: 3%;
  }

  #resultat{
    padding-top: 0;
    padding-left: .875rem;
    font-size: .75rem;
  }

  h1 {
    font-family: "Inter";
    font-weight: 600;
    margin: auto;
    margin-top: 3.375rem;
    font-size: 1.5rem;
    letter-spacing: .9rem;
    padding-left: 0px;
  }

  h2 {
    font-family: "Inter";
    font-weight: 600;
    font-size: 16px;
  }

  #prononciation {
    font-size: .625rem;
  }


  #ligne-haute {
    margin-top: 0;
    flex-direction: column;
  }

  #serif,
  #sans-serif,
  #inter {
    font-size: 16px;
  }

  audio {
    width: 50%;
  }

  #options {
    width: 100%;
    padding: 11px 5%;
    margin: 0;
    gap: 0;
    border-radius: 0rem;
    box-shadow: none;
  }

  input {
    padding: 10px 14px;
    font-size: .75rem;
  }

  ul{
    max-width: 50%;
  }

  li {
    font-size: .75rem;
  }

  #suggestion {
    padding-left: .875rem;
    padding-top: .4375rem;
    padding-bottom: 33px;
    font-size: .75rem;
  }

  #component {
    max-width: 850px;
    min-height: 500px;
    border-radius: 0;
    padding: 28px 16px 18px 16px;
    margin: auto;
    margin-top: 3.375rem;
    margin-bottom: 79px;
  }

  #imageguguss {
    bottom: 1%;
    right: 1%;
  }

  #zone {
    max-width: 100%;
  }

  #synonymous-title {
    max-width: 50%;
    padding-top: 1.8125rem;
  }

  #synonymous.texte {
    max-width: 50%;
  }

  #synonymous {
    font-size: .75rem;
    line-height: normal;
  }
}

@media screen and (max-width: 900px) {

  #imageguguss {
    content: url(./assets/images/guguss-mobile.webp);
    right: 2%;
    bottom: 2%;
  }

  #component {
    width: 90%;
    min-height: auto;
    max-width: 425px;
  }

  audio {
    width: 80%;
  }

  ul {
    max-width: 100%;
  }

  input:focus{
    outline: 2px solid var(--color-lightblue)
  }
}

@media screen and (max-width: 375px) {
  body {
    background-image: url(./assets/images/Background-mobile-light-mode.webp);
  }
  #options{
    padding-left: 17.5px;
    padding-right: 17.5px;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-image: url(./assets/images/Background-desktop-dark-mode.webp);
    color: var(--color-white);
  }

  #component,
  #options {
    background: var(--background-color-dark-theme);
  }

  #prononciation {
    color: var(--color-lightblue);
  }

  input {
    color: var(--color-lightgray);
  }

  input[type=search]:focus {
    background-color: var(--color-lightblue);
    outline-color: var(--color-white);
    color: black;
  }

  #suggestion {
    color: var(--color-white);
  }

  #serif,
  #sans-serif,
  #inter {
    color: var(--color-white);
  }

  #serif:hover,
  #sans-serif:hover,
  #inter:hover {
    color: var(--color-lightblue);
  }
}

body.dark-theme {
  background-image: url(./assets/images/Background-desktop-dark-mode.webp);
  color: var(--color-white);
}

#component.dark-theme,
#options.dark-theme {
  background: var(--background-color-dark-theme);
}

#prononciation.dark-theme {
  color: var(--color-lightblue);
}

input.dark-theme {
  color: var(--color-lightgray);
}

#finder:focus.dark-theme {
  background-color: var(--color-lightblue);
  outline-color: var(--color-white);
  color: black;
}

#suggestion.dark-theme {
  color: var(--color-white);
}

#serif.dark-theme,
#sans-serif.dark-theme,
#inter.dark-theme {
  color: var(--color-white);
}

#serif:hover.dark-theme,
#sans-serif:hover.dark-theme,
#inter:hover.dark-theme {
  color: var(--color-lightblue);
}

#resultat.dark-theme {
  color: var(--color-white);
}